@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-custom-bullet {
  width: 4px;
  height: 4px;
  background: #9b9b9b;
  display: inline-block;
  border-radius: 4px;
  transition: 0.5s all ease-out;
  z-index: 10;
}

.swiper-custom-bullet-active {
  background: #000000;
  transition: 0.5s all ease-out;
}

*:disabled {
  opacity: 40%;
  pointer-events: none;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}
